<header>
<h1>Msg boarder </h1>
<h2>Let everyone know what's on your mind!</h2>
<p class="thicker">This is a TOP project</p>
<ul>
    <%# for links %>
    <li>
       <%#  <a href="links link"></a> %>
        <%# <span>links text</span> %>
    </li>
</ul>
<div class="navbar-separator"></div>
</header>